# Run-time dependencies
cryptography
django
django-extensions
django-health-check
djangorestframework
jupyterlab
pyjwt
requests

# Development tools, build-time dependencies
django-stubs
djangorestframework-stubs[compatible-mypy]
mypy
pre-commit
types-requests
twine

# pip-tools and wheel will be installed by Dockerfile
