# pre-commit
codespell
mypy
ruff
shellcheck-py
uv
yamllint

# Run-time dependencies
cryptography
django
django-extensions
django-health-check
django-sql-explorer
djangorestframework
jupyterlab
pyjwt
requests

# Development tools, build-time dependencies
build
django-stubs
djangorestframework-stubs[compatible-mypy]
pre-commit
pytest
pytest-django
pytest-mock
types-requests
twine
